In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
# $ pip install googletrans
from googletrans import Translator
translator = Translator()

import cx_Oracle
db = cx_Oracle.connect('FBSADMIN', 'FA8skhg6', 'um003089.unimaas.nl:1521/FBSDB')

def detect_language(x):
    try:
        return str(translator.detect(x.read())).split(',')[0].split('=')[1]
    except:
        return 'No language detected.'

def translate(y):
    try:
        return str(translator.translate(y.read())).split(',')[2].split('=')[1]
    except:
        return 'No translation.'

def change_time(x):
    s = list(x)
    s[10] = ' '
    del s[-5:]
    return "".join(s)

# Facebook comments
df = pd.read_sql("select FACEBOOK_COMMENTSPK,CREATED_TIME,MESSAGE from facebook_comments_edited",db)
df['MESSAGELANGUAGE'] = df['MESSAGE'].apply(lambda x: detect_language(x))
df['TRANSLATION'] = df['MESSAGE'].apply(lambda x: translate(x))
df.drop('MESSAGE',axis=1,inplace = True)
df['CREATED_TIME'] = df['CREATED_TIME'].apply(lambda x: change_time(x))
df.to_csv('Facebook comments (edited).csv', index_label=False)

# Facebook posts
df2 = pd.read_sql("select FB_POST_PK,CREATED_TIME,MESSAGE from FACEBOOK_POSTS_EDITED",db)
df2['MESSAGELANGUAGE'] =df2['MESSAGE'].apply(lambda x: detect_language(x))
df2['TRANSLATION'] = df2['MESSAGE'].apply(lambda x: translate(x))
df2.drop('MESSAGE',axis=1,inplace = True)
df2['CREATED_TIME'] = df2['CREATED_TIME'].apply(lambda x: change_time(x))
df2.to_csv('Facebook posts (edited).csv', index_label=False)

In [2]:
# Test

import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from langdetect import detect

import cx_Oracle
db = cx_Oracle.connect('FBSADMIN', 'FA8skhg6', 'um003089.unimaas.nl:1521/FBSDB')

def detect_language(x):
    try:
        return detect(x.read())
    except:
        return 'No language detected.'

def change_time(x):
    s = list(x)
    s[10] = ' '
    del s[-5:]
    return "".join(s)

In [3]:
# Facebook comments
df = pd.read_sql("select FACEBOOK_COMMENTSPK,CREATED_TIME,MESSAGE,MESSAGELANGUAGE from facebook_comments_edited",db)

In [4]:
df_test = df.head(5).copy()
df_test

,FACEBOOK_COMMENTSPK,CREATED_TIME,MESSAGE,MESSAGELANGUAGE
0,149,2017-06-11T02:50:24+0000,Felicitaciones al equipo ganador!!#HackatoNave...,None
1,150,2017-06-11T07:16:36+0000,Felicitaciones !!!!!!,None
2,151,2017-06-11T18:58:12+0000,?????,None
3,152,2017-06-12T15:30:22+0000,Amazing,None
4,153,2017-06-10T22:41:49+0000,Espectacular el cierre del Hakaton 2017!!!!!! ...,None

In [30]:
from googletrans import Translator
translator = Translator()
str(translator.translate('안녕하세요.')).split(',')[2].split('=')[1]

'Good morning.'

In [25]:
str(translator.detect('이 문장은 한글로 쓰여졌습니다.')).split(',')[0].split('=')[1]

'ko'

In [34]:
test2 = df_test.copy()
test2

,FACEBOOK_COMMENTSPK,CREATED_TIME,MESSAGE,MESSAGELANGUAGE
0,149,2017-06-11T02:50:24+0000,Felicitaciones al equipo ganador!!#HackatoNave...,None
1,150,2017-06-11T07:16:36+0000,Felicitaciones !!!!!!,None
2,151,2017-06-11T18:58:12+0000,?????,None
3,152,2017-06-12T15:30:22+0000,Amazing,None
4,153,2017-06-10T22:41:49+0000,Espectacular el cierre del Hakaton 2017!!!!!! ...,None

In [45]:
# $ pip install googletrans
from googletrans import Translator
translator = Translator()
test2 = df_test.copy()

def detect_language(x):
    try:
        return str(translator.detect(x.read())).split(',')[0].split('=')[1]
    except:
        return 'No language detected.'

def translate(y):
    try:
        return str(translator.translate(y.read())).split(',')[2].split('=')[1]
    except:
        return 'No translation.'

def change_time(x):
    s = list(x)
    s[10] = ' '
    del s[-5:]
    return "".join(s)

test2['MESSAGELANGUAGE'] = test2['MESSAGE'].apply(lambda x: detect_language(x))
test2['TRANSLATION'] = test2['MESSAGE'].apply(lambda x: translate(x))
test2.drop('MESSAGE',axis=1,inplace = True)
test2['CREATED_TIME'] = test2['CREATED_TIME'].apply(lambda x: change_time(x))

test2

,FACEBOOK_COMMENTSPK,CREATED_TIME,MESSAGELANGUAGE,TRANSLATION
0,149,2017-06-11 02:50:24,es,Congratulations to the winning team! # Hackato...
1,150,2017-06-11 07:16:36,es,Congratulations !!!!!!
2,151,2017-06-11 18:58:12,en,?????
3,152,2017-06-12 15:30:22,en,Amazing
4,153,2017-06-10 22:41:49,es,Spectacular closing of the Hackathon 2017 !!!!...

In [ ]:
# Facebook posts
df2 = pd.read_sql("select FB_POST_PK,CREATED_TIME,MESSAGE,MESSAGELANGUAGE from FACEBOOK_POSTS_EDITED",db)
df2.to_csv('facebook_posts_edited.csv', index_label = False)

In [ ]:
df.to_csv('test1_full.csv', index_label = False)