# Sentiment Analysis
> Employer Reviews

In [1]:
# Import libraries
import warnings
warnings.filterwarnings('ignore')
import csv
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from googletrans import Translator
from langdetect import detect
from IPython.display import *

## 1. Data Cleaning

In [2]:
# Import indeed reviews data
# Change file name accordingly
reviews_1 = pd.read_csv("reviews_ind (backup).csv", sep = ";",
                        header = None, names = ['Company','Review'],
                        quoting = 1, skipinitialspace = True)

In [3]:
# Total number of reviews
print('Total number of reviews: {}'.format(reviews_1.shape[0]))

# Sneak peek
display(reviews_1.head(5))

Total number of reviews: 832368

       Company                                             Review
0  BAE Systems  BAE was an interesting company to work for. Th...
1  BAE Systems  I absolutely loved working for Bae Systems. It...
2  BAE Systems  Good company, but certain departments are diff...
3  BAE Systems  BAE was the worst job experience I have ever h...
4  BAE Systems  The work schedule was typically seven days a w...

In [28]:
# Format reviews dataframe

# Remove '\r\n' from reviews
def format_review(string):
    if type(string) == str:
        if '\r\n' in string:
            return string.replace('\r\n','.')
        else:
            return string
    else:
        return string
    
# Replace ".." with "." in reviews
def format_review2(string):
    if type(string) == str:
        if ".." in string:
            return string.replace('..','.')
        else:
            return string
    else:
        return string

# Replace "\n" with "\n " in reviews
def format_review3(string):
    if type(string) == str:
        if "\n" in string:
            return string.replace('\n','\n ')
        else:
            return string
    else:
        return string

# Remove links in company names
def format_name(string):
    if type(string) == str:
        if ";https" in string:
            return string.split(';https')[0]
        else:
            return string
    else:
        return string

# Apply functions
reviews_1.Review = [format_review(x) for x in reviews_1.Review]
reviews_1.Review = reviews_1.Review.apply(lambda x: '. '.join(list(filter(lambda a: a != '', x.split('.')))) + '.' if type(x) == str else x)
reviews_1.Review = reviews_1.Review.apply(lambda x: ' '.join(x.split('  ')) if type(x) == str else x)
reviews_1.Review = [format_review2(x) for x in reviews_1.Review]
reviews_1.Review = [format_review3(x) for x in reviews_1.Review]
reviews_1.Company = [format_name(x) for x in reviews_1.Company]

# Display reviews dataframe
display(reviews_1.head(5))

       Company                                             Review
0  BAE Systems  BAE was an interesting company to work for. Th...
1  BAE Systems  I absolutely loved working for Bae Systems. It...
2  BAE Systems  Good company, but certain departments are diff...
3  BAE Systems  BAE was the worst job experience I have ever h...
4  BAE Systems  The work schedule was typically seven days a w...

In [134]:
# Import sentiment analysis score (already saved as csv)
score_df = pd.read_csv('Average Vader scores (alphabetical, no index).csv', sep = ",",
                       quoting = 1, skipinitialspace = True)
score_df.drop(score_df.index[[197]], inplace = True)
score_df = score_df.reset_index().drop('index', axis = 1)
score_df.at[19, 'Company'] = 'Arvato SCM Ireland Limited'
score_df['Contained in future_bs'] = True
score_df

,Company,Score,Original number of reviews,Contained in future_bs
0,ABN AMRO,0.667300,837,True
1,Abtran,0.745081,806,True
2,Accenture,0.676800,12657,True
3,Adobe,0.739533,319,True
4,Age UK,0.720132,878,True
5,Airbus Group,0.650908,827,True
6,Aktiesport,0.753056,800,True
7,AkzoNobel,0.585241,907,True
8,Alcoa,0.540460,1239,True
9,ALDI,0.407706,2831,True
10,ALH Group,0.581221,40,True
11,Amec Foster Wheeler,0.572758,693,True
12,American Express,0.669558,12597,True
13,Anadarko Petroleum Corporation,0.728155,178,True
14,Anglicare,0.753059,800,True
15,Anytime Fitness,0.687801,641,True
16,ANZ Banking Group,0.640675,652,True
17,Apple,0.708228,3752,True
18,Argos,0.601338,2056,True
19,Arvato SCM Ireland Limited,0.531525,158,True
20,ASML,0.586055,129,True
21,Australian Army,0.503853,104,True
22,Australian Defence Force,0.503853,104,True
23,Australian Electoral Commission,0.619798,54,True
24,Australian Taxation Office,0.752772,799,True
25,BAE Systems,0.730372,290785,True
26,Bank of Ireland,0.523820,109,True
27,Barclays,0.578685,3261,True
28,Barnardo's,0.671437,723,True
29,BBC,0.649542,270,True
...,...,...,...,...
187,Supervalu Ireland,0.516309,1226,True
188,T-Mobile,0.639893,6014,True
189,Telstra,0.665330,594,True
190,Tesco,0.540126,9426,True
191,The Body Shop,0.671912,1011,True
192,The Cotton On Group,0.584963,489,True
193,The Good Guys,0.691662,84,True
194,The Ritz-Carlton,0.705285,1284,True
195,The Salvation Army,0.637413,5118,True
196,The TJX Companies Inc.,0.614616,4125,True
197,The Walt Disney Company,0.683733,3057,True
198,Thiess,0.684490,250,True
199,Thomas Cook,0.670269,734,True
200,Thorntons,0.571809,162,True
201,TNT,0.567604,1786,True
202,Toyota,0.595809,4149,True
203,Trade Secret,0.651387,151,True
204,Transport for London,0.646362,155,True
205,Ultimate Software,0.802238,150,True
206,Unilever,0.656942,12118,True
207,VluchtelingenWerk Nederland,0.753056,800,True
208,Vodafone,0.655282,5298,True
209,Vodafoneziggo,0.641769,2130,True
210,Volvo,0.631427,1531,True
211,Waitrose,0.684234,1084,True
212,Walt Disney Parks and Resorts,0.707694,4142,True
213,Wegmans,0.685134,1475,True
214,Wilko,0.618952,955,True
215,YMCA,0.701258,14732,True
216,Zorgwerk,0.753059,800,True

In [ ]:
# Company names, uncleaned
future_bs_original = pd.read_csv("future_bs.csv", sep = ",", usecols = ['employer','company'],
                        quoting = 1, skipinitialspace = True, encoding = 'latin-1')
future_bs = pd.DataFrame(future_bs_original['company'].unique(), columns = ['Company'])
future_bs['Employer'] = None
future_bs['Review Score'] = np.nan
future_bs['Other name'] = None
future_bs['Employer of business schools graduates'] = False

for i in future_bs['Company']:
    future_bs.loc[future_bs['Company'] == i, 'Employer'] = future_bs_original.loc[future_bs_original['company'] == i, 'employer'].iloc[0,0]

import re
def getWords(text):
    return re.compile('\w+').findall(text)

for i in range(len(score_df['Company'])):
    wordlist = getWords(score_df['Company'][i])
    redundant_words = ['a', 'an', 'the', 's', 've', 'en', 'van','S', 'N', 'O', 'A', 'Limited', 'Ltd', 'LTD']
    for word in redundant_words:
        try:
            wordlist.remove(word)
        except ValueError:
            None
    contained = False
    corresponding = None
    
    for m in range(len(future_bs_original['employer'])):
        if future_bs_original['employer'][m] != future_bs_original['company'][m]:
            if score_df['Company'][i] in future_bs_original['employer'][m]: #and future_bs.loc[future_bs['Company'] == future_bs_original['company'][m], 'Employer of business schools graduates'] == False:
                contained = True
                corresponding = future_bs_original['company'][m]
                future_bs.loc[future_bs['Company'] == corresponding, 'Review Score'] = score_df['Score'][i]
                future_bs.loc[future_bs['Company'] == corresponding, 'Other name'] = score_df['Company'][i]
                future_bs.loc[future_bs['Company'] == corresponding, 'Employer of business schools graduates'] = True
                break
            else:
                #for k in range(len(wordlist)):
                #    boolean = True
                #    if (wordlist[k] not in future_bs_original['employer'][m]):# and (future_bs.loc[future_bs['Company'] == future_bs_original['company'][m], 'Employer of business schools graduates'] == False):
                #        boolean = False
                #        break
                #    else:
                #        continue
                #if boolean == True and future_bs.loc[future_bs['Company'] == future_bs_original['company'][m], 'Employer of business schools graduates'] == False:
                #    contained = True
                #    corresponding = future_bs_original['company'][m]
                #    future_bs.loc[future_bs['Company'] == corresponding, 'Review Score'] = score_df['Score'][i]
                #    future_bs.loc[future_bs['Company'] == corresponding, 'Other name'] = score_df['Company'][i]
                #    future_bs.loc[future_bs['Company'] == corresponding, 'Employer of business schools graduates'] = True
                #else:
                #    None
                None
        else:
            for j in range(len(future_bs['Company'])):
                if '<U+' in future_bs['Company'][j]:
                    None
                else:
                    if score_df['Company'][i] in future_bs['Company'][j] and future_bs.at[j, 'Employer of business schools graduates'] == False:
                        future_bs.at[j, 'Review Score'] = score_df['Score'][i]
                        future_bs.at[j, 'Other name'] = score_df['Company'][i]
                        future_bs.at[j, 'Employer of business schools graduates'] = True
                        contained = True
                        break
                    else:
                        for k in range(len(wordlist)):
                            boolean = True
                            if wordlist[k] not in future_bs['Company'][j] and future_bs.at[j, 'Employer of business schools graduates'] == False:
                                boolean = False
                                break
                            else:
                                continue
                        if boolean == True and future_bs.at[j, 'Employer of business schools graduates'] == False:
                            future_bs.at[j, 'Review Score'] = score_df['Score'][i]
                            future_bs.at[j, 'Other name'] = score_df['Company'][i]
                            future_bs.at[j, 'Employer of business schools graduates'] = True
                            contained = True
                        else:
                            None
            if contained == False:
                score_df.at[i,'Contained in future_bs'] = False
future_bs.head(20)

In [136]:
# Company names, uncleaned
future_bs_original = pd.read_csv("future_bs.csv", sep = ",", usecols = ['employer','company'],
                        quoting = 1, skipinitialspace = True, encoding = 'latin-1')
future_bs = pd.DataFrame(future_bs_original['company'].unique(), columns = ['Company'])
future_bs['Employer'] = None
future_bs['Review Score'] = np.nan
future_bs['Other name'] = None
future_bs['Employer of business schools graduates'] = False

for i in future_bs['Company']:
    future_bs.loc[future_bs['Company'] == i, 'Employer'] = future_bs_original.loc[future_bs_original['company'] == i, 'employer'].tolist()[0]

import re
def getWords(text):
    return re.compile('\w+').findall(text)

for i in range(len(score_df['Company'])):
    wordlist = getWords(score_df['Company'][i])
    redundant_words = ['a', 'an', 'the', 's', 've', 'en', 'van','S', 'N', 'O', 'A', 'T', 'Limited', 'Ltd', 'LTD']
    for word in redundant_words:
        try:
            wordlist.remove(word)
        except ValueError:
            None
    contained = False
    
    for j in range(len(future_bs['Company'])):
        if '<U+' in future_bs['Company'][j]:
            None
        else:
            if ((score_df['Company'][i] in future_bs['Company'][j]) or (score_df['Company'][i] in future_bs['Employer'][j])) and future_bs.at[j, 'Employer of business schools graduates'] == False:
                future_bs.at[j, 'Review Score'] = score_df['Score'][i]
                future_bs.at[j, 'Other name'] = score_df['Company'][i]
                future_bs.at[j, 'Employer of business schools graduates'] = True
                contained = True
                break
            else:
                for k in range(len(wordlist)):
                    if (wordlist[k].isupper() == True) and (wordlist[k] in future_bs['Company'][j] or wordlist[k] in future_bs['Employer'][j]) and (future_bs.at[j, 'Employer of business schools graduates'] == False):
                        future_bs.at[j, 'Review Score'] = score_df['Score'][i]
                        future_bs.at[j, 'Other name'] = score_df['Company'][i]
                        future_bs.at[j, 'Employer of business schools graduates'] = True
                        contained = True
                        break
                    else:
                        boolean = True
                        if ((wordlist[k] not in future_bs['Company'][j]) and (wordlist[k] not in future_bs['Employer'][j])) and future_bs.at[j, 'Employer of business schools graduates'] == False:
                            boolean = False
                            break
                        else:
                            continue
                if boolean == True and future_bs.at[j, 'Employer of business schools graduates'] == False:
                    future_bs.at[j, 'Review Score'] = score_df['Score'][i]
                    future_bs.at[j, 'Other name'] = score_df['Company'][i]
                    future_bs.at[j, 'Employer of business schools graduates'] = True
                    contained = True
                else:
                    None
    if contained == False:
        score_df.at[i,'Contained in future_bs'] = False
future_bs.head(20)

,Company,Employer,Review Score,Other name,Employer of business schools graduates
0,YPF,YPF,NaN,None,False
1,IAE Business School,IAE Business School,NaN,None,False
2,Banco Galicia,Banco Galicia,NaN,None,False
3,"Universidad Austral, Buenos Aires","Universidad Austral, Buenos Aires",NaN,None,False
4,Buenos Aires City Government,Buenos Aires City Government,NaN,None,False
5,Molinos Rio de la Plata,Molinos Rio de la Plata,NaN,None,False
6,Telef<U+00CC>_nica Argentina,Telef<U+00CC>_nica Argentina,NaN,None,False
7,Ternium,Ternium,NaN,None,False
8,Banco Supervielle,Banco Supervielle,NaN,None,False
9,Grupo OSDE,Grupo OSDE,NaN,None,False
10,Petrobras,Petrobras Argentina SA,NaN,None,False
11,Cablevisi<U+00CC>_n - Fibertel,Cablevisi<U+00CC>_n - Fibertel,NaN,None,False
12,FV - Grifer<U+00CC>_a de alta tecnolog<U+00CC>_a,FV - Grifer<U+00CC>_a de alta tecnolog<U+00CC>_a,NaN,None,False
13,Pontificia Universidad Cat<U+00CC>_lica Argent...,Pontificia Universidad Cat<U+00CC>_lica Argent...,NaN,None,False
14,Techint Group,Techint Group,NaN,None,False
15,University of Melbourne,University of Melbourne,NaN,None,False
16,EY,EY,0.666587,EY,True
17,National Australia Bank,National Australia Bank,NaN,None,False
18,Monash University,Monash University,0.721837,Monash University,True
19,"Department of Education and Training, Victoria","Department of Education and Training, Victoria",NaN,None,False

In [137]:
score_df

,Company,Score,Original number of reviews,Contained in future_bs
0,ABN AMRO,0.667300,837,True
1,Abtran,0.745081,806,False
2,Accenture,0.676800,12657,True
3,Adobe,0.739533,319,False
4,Age UK,0.720132,878,False
5,Airbus Group,0.650908,827,False
6,Aktiesport,0.753056,800,False
7,AkzoNobel,0.585241,907,False
8,Alcoa,0.540460,1239,False
9,ALDI,0.407706,2831,False
10,ALH Group,0.581221,40,False
11,Amec Foster Wheeler,0.572758,693,False
12,American Express,0.669558,12597,False
13,Anadarko Petroleum Corporation,0.728155,178,False
14,Anglicare,0.753059,800,False
15,Anytime Fitness,0.687801,641,False
16,ANZ Banking Group,0.640675,652,True
17,Apple,0.708228,3752,True
18,Argos,0.601338,2056,False
19,Arvato SCM Ireland Limited,0.531525,158,False
20,ASML,0.586055,129,True
21,Australian Army,0.503853,104,True
22,Australian Defence Force,0.503853,104,False
23,Australian Electoral Commission,0.619798,54,False
24,Australian Taxation Office,0.752772,799,True
25,BAE Systems,0.730372,290785,False
26,Bank of Ireland,0.523820,109,True
27,Barclays,0.578685,3261,True
28,Barnardo's,0.671437,723,False
29,BBC,0.649542,270,True
...,...,...,...,...
187,Supervalu Ireland,0.516309,1226,False
188,T-Mobile,0.639893,6014,True
189,Telstra,0.665330,594,True
190,Tesco,0.540126,9426,True
191,The Body Shop,0.671912,1011,False
192,The Cotton On Group,0.584963,489,False
193,The Good Guys,0.691662,84,False
194,The Ritz-Carlton,0.705285,1284,True
195,The Salvation Army,0.637413,5118,False
196,The TJX Companies Inc.,0.614616,4125,True
197,The Walt Disney Company,0.683733,3057,True
198,Thiess,0.684490,250,False
199,Thomas Cook,0.670269,734,False
200,Thorntons,0.571809,162,False
201,TNT,0.567604,1786,False
202,Toyota,0.595809,4149,True
203,Trade Secret,0.651387,151,False
204,Transport for London,0.646362,155,False
205,Ultimate Software,0.802238,150,False
206,Unilever,0.656942,12118,True
207,VluchtelingenWerk Nederland,0.753056,800,False
208,Vodafone,0.655282,5298,True
209,Vodafoneziggo,0.641769,2130,False
210,Volvo,0.631427,1531,True
211,Waitrose,0.684234,1084,False
212,Walt Disney Parks and Resorts,0.707694,4142,False
213,Wegmans,0.685134,1475,False
214,Wilko,0.618952,955,False
215,YMCA,0.701258,14732,False
216,Zorgwerk,0.753059,800,False

In [55]:
names_with_weird_stuff = []
for i in future_bs['Company']:
    wordlist = i.split(' ')
    for k in wordlist:
        test = False
        for e in k:
            if e.isalnum() == False:
                names_with_weird_stuff.append(i)
                test = True
                break
            else:
                continue
        if test == True:
            break
        else:
            continue
names_with_weird_stuff

['Universidad Austral, Buenos Aires',
 'Telef<U+00CC>_nica Argentina',
 'Cablevisi<U+00CC>_n - Fibertel',
 'FV - Grifer<U+00CC>_a de alta tecnolog<U+00CC>_a',
 'Pontificia Universidad Cat<U+00CC>_lica Argentina (UCA)',
 'Department of Education and Training, Victoria',
 'The Royal Melbourne Hospital & NorthWestern Mental Health',
 'klooster-ransom | public relations',
 'Department of Treasury and Finance, Victoria',
 'QUT (Queensland University of Technology)',
 'Department of Education and Training (Queensland)',
 "McDonald's",
 'Department of Education, Western Australia',
 'Department of Health (WA Health)',
 "Laing O'Rourke",
 'Traffic Barricade "Trusted In Traffic Safety"',
 'Department for Education and Child Development, South Australia',
 'Department of Planning, Transport and Infrastructure (DPTI)',
 'University of Sydney Union (USU)',
 'WU (Vienna University of Economics and Business)',
 "L'Or<U+00CC><U+00A9>al",
 'McKinsey & Company',
 'The Boston Consulting Group (BCG)',
 'KBC Bank & Verzekering',
 'The Janssen Pharmaceutical Companies of Johnson & Johnson',
 'Anheuser-Busch InBev',
 'Solvay Brussels School of Economics and Management (SBS-EM) - ULB',
 'Universit<U+00CC><U+00A9> libre de Bruxelles',
 'Universit<U+00CC><U+00A9> catholique de Louvain',
 'CBC Banque & Assurance',
 'University of Li<U+00CC><U+00AC>ge',
 'HEC Li<U+00CC><U+00AC>ge',
 'CMI Cockerill Maintenance & Ing<U+00CC><U+00A9>nierie',
 'HEC-ULg Investing Group',
 'FOD Financi<U+00CC><U+00C7>n - SPF Finances',
 'Johnson & Johnson',
 'Oi S.A',
 'Globo.com',
 'Ita<U+00CC><U+00BC> Unibanco',
 'FGV - Funda<U+00CC><U+00A4><U+00CC><U+00A3>o Getulio Vargas',
 'Telef<U+00CC><U+00AB>nica Brasil',
 'Ra<U+00CC>_zen',
 'Funda<U+00CC><U+00A4><U+00CC><U+00A3>o Dom Cabral',
 'VLI Log<U+00CC>_stica',
 'HEC Montr<U+00CC><U+00A9>al',
 'Ville de Montr<U+00CC><U+00A9>al',
 'Universit<U+00CC><U+00A9> de Montr<U+00CC><U+00A9>al',
 'Hydro Qu<U+00CC><U+00A9>bec',
 'Revenu Qu<U+00CC><U+00A9>bec',
 'Info-Tech Research Group',
 "Smith School of Business At Queen's University",
 "Queen's University",
 "Queen's University Alternative Assets Fund",
 'Commerce Executive on Orientation (CEO)',
 "Queen's Retail Forum (QRF)",
 'Schulich School of Business - York University',
 'Canada Revenue Agency - Agence du revenu du Canada',
 'Universit<U+00CC><U+00A9> Laval',
 'iA Financial Group (Industrial Alliance)',
 'CHU de Qu<U+00CC><U+00A9>bec',
 "Minist<U+00CC><U+00AC>re des Transports, de la Mobilit<U+00CC><U+00A9> durable et de l'<U+00CC><U+00E4>lectrification des transports",
 'CIUSSS de la Capitale-Nationale',
 'Canadian Armed Forces | Forces arm<U+00CC><U+00A9>es canadiennes',
 'SSQ Groupe financier | Financial Group',
 'Sutton Group - West Coast Realty',
 'RE/MAX',
 'Public Services and Procurement Canada | Services publics et Approvisionnement Canada',
 'Export Development Canada | Exportation et d<U+00CC><U+00A9>veloppement Canada - EDC',
 'Emploi et D<U+00CC><U+00A9>veloppement social Canada (EDSC) / Employment and Social Development Canada (ESDC)',
 'Island Health - Vancouver Island Health Authority',
 'Universidad Adolfo Ib<U+00CC><U+00C1><U+00CC><U+00B1>ez',
 'Cencosud S.A.',
 'CODELCO <U+0089><U+00DB><U+00D2> Corporaci<U+00CC>_n Nacional del Cobre de Chile',
 'Baidu, Inc.',
 '<U+008C><U+00CE><U+00D1><U+008A><U+00BC><U+00C2><U+008E><U+00D2>_<U+008C><U+00A8><U+00A6><U+00BE><U+00F6><U+00C0><U+008C><U+00CF><U+00A1><U+008A><U+00BC><U+00A4><U+008D><U+00C8><U+008F><U+008D><U+00BC><U+00BB><U+00BE><U+00CF><U+00E4><U+008E><U+00AA><U+0090><U+008C><U+00C9><U+00C2><U+008C><U+008F><U+00FC>',
 'Career International <U+008D><U+00A4><U+00D4><U+008E><U+00D3><U+0090><U+008C><U+00DD>_<U+008E><U+00AA><U+00C9>',
 'New Oriental Education & Technology Group',
 'China Europe International Business School (CEIBS)',
 'Bank of China (Hong Kong)',
 'Guanghua School of Management, Peking University',
 'Caterpillar Inc.',
 'Hong Kong (HKSAR)',
 'Procter & Gamble',
 'VIP.com <U+008C><U+00D3><U+00F8><U+008C><U+00D2><U+0081><U+008A>__',
 'Colgate-Palmolive',
 'China Securities Co., Ltd.',
 'HAND Enterprise Solutions LTD.',
 'Bank of Communications Co., Ltd. London Branch',
 '<U+008A><U+00FC>_<U+008C><U+00DD>_<U+008C>__<U+008C><U+00A8><U+00E4><U+008A><U+00C0><U+009D><U+008E><U+00AA><U+00A9><U+0095>_<U+00F6><U+008E><U+00DD><U+00A0><U+008C><U+00DD><U+00A2><U+0095>_<U+00E4><U+008F><U+00E2><U+00C1><U+008A><U+00C8>_<U+00BE><U+00CF><U+00E4><U+008E><U+00AA><U+0090><U+008C><U+00C9><U+00C2><U+008C><U+008F><U+00FC>',
 'Sun Yat-Sen University',
 'Sun Yat-sen University',
 'MTR Corporation Limited <U+008E>_<U+00AA><U+00BE><U+00FC><U+00F8><U+008E><U+0090><U+00B5><U+008F><U+00E1><U+00F8><U+00BE><U+00CF><U+00E4><U+008E><U+00AA><U+0090><U+008C><U+00C9><U+00C2><U+008C><U+008F><U+00FC>',
 'J.P. Morgan',
 'King & Wood Mallesons',
 'TP-Link Technologies Co., Ltd',
 '<U+00BE><U+0081><U+00D5><U+008C>_<U+00A4><U+008E><U+00DD><U+00A0><U+008C><U+00DD><U+00A2>',
 '<U+008C>__<U+008E><U+00D1><U+00AC><U+008F><U+00F6><U+00BB><U+008D><U+00A9><U+00BC><U+00BE><U+00CF><U+00E4><U+008E><U+00AA><U+0090><U+008C><U+00C9><U+00C2><U+008C><U+008F><U+00FC>',
 '<U+008C>_<U+00A9><U+008C><U+0081><U+00B4><U+008A>__<U+008F><U+00A8><U+00C1><U+008C><U+00FC><U+00F6><U+008A><U+00BC><U+00DC><U+008C>_<U+00C1><U+00BE><U+00E4><U+00DB><U+0095>_<U+00F6><U+008D><U+00E4>_<U+00BE><U+00A8>_<U+00BE><U+00AA><U+00A8><U+008E><U+00DB>_<U+008C><U+0090><U+00F6><U+008A>_<U+00AA><U+0095>_<U+00E4>',
 'Zhejiang University of Finance & Economics',
 '<U+008A><U+00FC>_<U+008C><U+00A8><U+0081><U+008C><U+00CE><U+00D0><U+008E><U+00DD><U+00A0><U+008C><U+00DD><U+00A2><U+00BE><U+00CF><U+00E4><U+008E><U+00AA><U+0090><U+008C><U+00C9><U+00C2><U+008C><U+008F><U+00FC>',
 'Shanghai Foreign Service (Group) Co., Ltd',
 'Bain & Company',
 'Fubon Financial Holding Co., Ltd. <U+008C><U+00F8><U+00CE><U+008E><U+00E2>_<U+008E><U+00E0><U+00D4><U+00BE>_<U+00A4>',
 'BAC|Credomatic',
 'Millicom (Tigo)',
 'Ministerio de Econom<U+00CC>_a y Finanzas',
 'Banco de Cr<U+00CC><U+00A9>dito BCP',
 'Erhvervsakademi Aarhus | Business Academy Aarhus',
 'f<U+00CC><U+00FC>tex, Dansk Supermarked Group',
 'Bilka, Dansk Supermarked',
 'K<U+00CC><U+00FC>benhavns Kommune',
 'DTU - Technical University of Denmark',
 'Haldor Topsoe A/S',
 'Netcompany A/S',
 'K<U+00CC><U+00FC>benhavns Universitet',
 'Sweco Danmark A/S',
 'MT H<U+00CC><U+00FC>jgaard',
 'Orascom Construction (OC)',
 'National Bank of Egypt (NBE)',
 'Nestl<U+00CC><U+00A9>',
 'Dar Al-Handasah (Shair and Partners)',
 'W<U+00CC>_rtsil<U+00CC>_',
 'L<U+00CC>_hiTapiola',
 'IAE Aix-Marseille Graduate School of Management',
 'Soci<U+00CC><U+00A9>t<U+00CC><U+00A9> G<U+00CC><U+00A9>n<U+00CC><U+00A9>rale',
 'Junior Consulting IAE Aix-Marseille',
 'Cr<U+00CC><U+00A9>dit Agricole Alpes Provence',
 'Societe Generale Corporate and Investment Banking - SGCIB',
 'Cr<U+00CC><U+00A9>dit Agricole CIB',
 'Groupe Cr<U+00CC><U+00A9>dit Agricole',
 'vente-privee',
 'Enedis (ex ERDF)',
 'Grant-Thornton France',
 'Groupe ESC Dijon-Bourgogne',
 'Burgundy School of Business - BSB',
 "Caisse d'Epargne Bourgogne Franche-Comt<U+00CC><U+00A9> (CEBFC)",
 'OCP S.A',
 'Banque Populaire Alsace Lorraine Champagne (BPALC)',
 'I<U+00CC><U+00E4>SEG School of Management',
 'I<U+00CC><U+00E4>SEG Conseil Paris',
 'I<U+00CC><U+00E4>SEG Conseil Junior-Entreprise',
 'Universit<U+00CC><U+00A9> Paris-Dauphine',
 'AP-HP, Assistance Publique - H<U+00CC><U+00AB>pitaux de Paris',
 'Institut Curie - Research Centre',
 'Universit<U+00CC><U+00A9> Claude Bernard Lyon 1',
 'bioM<U+00CC><U+00A9>rieux',
 'Centre L<U+00CC><U+00A9>on B<U+00CC><U+00A9>rard',
 'Paris-Sud University',
 'Universit<U+00CC><U+00A9> Paris Descartes',
 'H<U+00CC><U+00AB>pital Necker-Enfants Malades',
 'cabinet lib<U+00CC><U+00A9>ral',
 'H<U+00CC><U+00AB>pital Europ<U+00CC><U+00A9>en Georges Pompidou',
 'CHRU de Strasbourg - H<U+00CC><U+00AB>pitaux Universitaires de Strasbourg',
 'Ville et Eurom<U+00CC><U+00A9>tropole de Strasbourg',
 'Cr<U+00CC><U+00A9>dit Mutuel',
 "Caisse d'Epargne d'Alsace (Groupe BPCE)",
 'E.ON',
 'Frankfurt School of Finance & Management',
 'HypoVereinsbank - UniCredit Bank AG',
 '<U+00CC><U+00E3>rztebank',
 'Deutsche Gesellschaft f<U+00CC>_r Internationale Zusammenarbeit (GIZ) GmbH',
 'Uniklinik K<U+00CC><U+00A6>ln',
 'Simon-Kucher & Partners',
 'WHU <U+0089><U+00DB><U+00D2> Otto Beisheim School of Management',
 "confluentes e.V. <U+0089><U+00DB><U+00D2> The student's consultancy at WHU",
 'Horv<U+00CC><U+00C1>th & Partners Management Consultants',
 'TU M<U+00CC>_nchen',
 'HelmholtzZentrum M<U+00CC>_nchen',
 'University of Erlangen-Nuremberg',
 'Friedrich-Alexander-Universit<U+00CC>_t Erlangen-N<U+00CC>_rnberg',
 'Friedrich-Alexander-University of Erlangen-N<U+00CC>_rnberg',
 'Technische Universit<U+00CC>_t Dresden',
 'T-Systems Multimedia Solutions GmbH',
 'Leibniz-Institut f<U+00CC>_r Polymerforschung Dresden',
 'MPI-CBG - Max Planck Institute of Molecular Cell Biology and Genetics',
 'Universit<U+00CC>_tsklinikum Freiburg',
 'IMTEK, University of Freiburg',
 'Fraunhofer-Institut f<U+00CC>_r Solare Energiesysteme ISE',
 'Albert Ludwigs University of Freiburg, Germany',
 'Universit<U+00CC>_t Freiburg',
 'Freie Universit<U+00CC>_t Berlin',
 'Charit<U+00CC><U+00A9>',
 'Max Delbr<U+00CC>_ck Center',
 'Technische Universit<U+00CC>_t Berlin',
 'Larsen & Toubro',
 'Cummins Inc.',
 'Indian Institute of Management, Calcutta',
 'Alitalia Societ<U+00CC><U+00CA> Aerea Italiana S.p.A.',
 'Rai - Radiotelevisione Italiana S.p.A.',
 'MIP Politecnico di Milano Graduate School of Business - Company',
 'Mediamarket S.p.A.',
 'CheBanca! S.p.A - Gruppo Mediobanca',
 'Technion - Israel Institute of Technology',
 'KLA-Tencor',
 'Check Point Software Technologies, Ltd.',
 'Wix.com',
 'Hebrew University of Jerusalem. Robert H. Smith Faculty of Agriculture, Food and Environment',
 'Mitsui & Co., Ltd.',
 'Mitsubishi Heavy Industries, Ltd. / MITSUBISHI HEAVY INDUSTRIES GROUP',
 'GIST(Gwangju Institute of Science & Technology)',
 'KETI(Korea Electronics Technology Institute)',
 'Tecnol<U+00CC>_gico de Monterrey',
 'Coca-Cola FEMSA',
 'MSCI Inc.',
 'Fisher & Paykel Healthcare',
 'Southern District Health Board (New Zealand)',
 'Ministry of Business, Innovation and Employment',
 'Ministry for Primary Industries (MPI)',
 'Ministry of Social Development (MSD)',
 'Ministry of Justice - New Zealand',
 'Department of Corrections- NZ',
 'New Zealand Ministry of Foreign Affairs & Trade',
 'Department of Internal Affairs (NZ)',
 'The University of Waikato, Hamilton NZ',
 'Te W<U+0080><U+0081>nanga o Aotearoa',
 'NHH - Norwegian School of Economics',
 'Pontificia Universidad Cat<U+00CC>_lica del Per<U+00CC><U+00BC>',
 'Telef<U+00CC>_nica Per<U+00CC><U+00BC>',
 'Grupo Gra<U+00CC><U+00B1>a y Montero',
 'Poczta Polska S. A.',
 'Alior Bank S.A.',
 'Jer<U+00CC>_nimo Martins',
 'Universidade Cat<U+00CC>_lica Portuguesa',
 'Universidade Cat<U+00CC>_lica Portuguesa - Centro Regional do Porto',
 'PLMJ Advogados, SP, RL',
 'Universidade Cat<U+00CC>_lica Portuguesa - Centro Regional de Braga',
 'Cat<U+00CC>_lica Porto Business School',
 "Cat<U+00CC>_lica Students' Corporation",
 'Associa<U+00CC><U+00A4><U+00CC><U+00A3>o de Estudantes da Faculdade de Economia e Gest<U+00CC><U+00A3>o da UCP Porto',
 "J<U+00CC><U+00C1> T'Explico",
 'Cat<U+00CC>_lica Porto Investment Club',
 'U.DREAM',
 "Nova SBE Students' Union",
 'St. Petersburg University Graduate School of Management',
 'Ministry of Education, Singapore (MOE)',
 'A*STAR - Agency for Science, Technology and Research',
 'Land Transport Authority (LTA) Singapore',
 'United Overseas Bank Limited (UOB)',
 'Lek Pharmaceuticals d.d.',
 'NLB d.d.',
 'GEN-I, d.o.o.',
 'Petrol d.d., Ljubljana',
 'Graduate School of Business - University of Cape Town',
 'Media24 (Pty) Ltd',
 'ACCI<U+00CC><U+00D2>',
 'T-Systems Iberia',
 'ESADE Business & Law School',
 'PwC Espa<U+00CC><U+00B1>a',
 'Deloitte Espa<U+00CC><U+00B1>a',
 'Telef<U+00CC>_nica',
 'Enag<U+00CC><U+00C1>s',
 'L<U+00CC>_nsf<U+00CC><U+00A6>rs<U+00CC>_kringar',
 'J<U+00CC><U+00A6>nk<U+00CC><U+00A6>ping University',
 'J<U+00CC><U+00A6>nk<U+00CC><U+00A6>ping International Business School at J<U+00CC><U+00A6>nk<U+00CC><U+00A6>ping University',
 'JSA - JIBS Student Association',
 'H&M',
 'LINC - Lund University Finance Society',
 'If Insurance (If P&C Insurance)',
 'G<U+00CC><U+00A6>teborgs Stad',
 'JTI (Japan Tobacco International)',
 'University of St.Gallen',
 'Universit<U+00CC>_tsSpital Z<U+00CC>_rich',
 'Z<U+00CC>_rcher Kantonalbank',
 'SRF - Schweizer Radio und Fernsehen',
 'EPFL (<U+00CC><U+00E4>cole polytechnique f<U+00CC><U+00A9>d<U+00CC><U+00A9>rale de Lausanne)',
 'Ecole Polytechnique F<U+00CC><U+00A9>d<U+00CC><U+00A9>rale de Lausanne (EPFL)',
 'ELCA Informatique SA / ELCA Informatik AG',
 'University of Lausanne - UNIL',
 'KTB - Krung Thai Bank',
 'AIS - Advanced Info Services Plc.',
 'Mercedes-Benz Customer Assistance Center Maastricht NV',
 'Rotterdam School of Management, Erasmus University',
 'B&R Beurs Erasmus Investment Society',
 'AMC - Academic Medical Center',
 'University Medical Center Groningen (UMCG)',
 'Hanzehogeschool Groningen / Hanze University of Applied Sciences Groningen',
 'Isala (ziekenhuis)',
 'Witteveen+Bos',
 'Ko<U+00CC><U+00A4> University',
 'Yap<U+0080><U+00B1> Kredi',
 'Ar<U+00CC><U+00A4>elik A.<U+0081>_.',
 'Ko<U+00CC><U+00A4> <U+00CC><U+00CF>niversitesi Hastanesi',
 'ADIB - Abu Dhabi Islamic Bank',
 'Abu Dhabi Education Council - ADEC',
 'Advanced Military Maintenance Repair & Overhaul Center (AMMROC)',
 'ADMA-OPCO',
 'Ghantoot Transport & General Contracting Est.',
 'Provident Financial Group - Provident HC & Satsuma',
 'City, University of London',
 'Royal Air Force (RAF)',
 'Kuehne + Nagel',
 'Defence Equipment & Support (DE&S)',
 'South African Revenue Service (SARS)',
 "Loughborough Students' Union",
 'St. James<U+0089><U+00DB><U+00AA>s Place Wealth Management',
 'Hinckley & Rugby Building Society',
 'Mandala Coaching Ireland - Career, Executive & Personal Development Coaching',
 'TEN Group (The Energy Network)',
 'Hollister Co.',
 'Open University Business School (OUBS)',
 'Rolls-Royce',
 'U.S. Department of Veterans Affairs',
 "Children's of Alabama",
 'McCombs School of Business, The University of Texas at Austin',
 'TopQM-Systems',
 'Hull York Medical School (HYMS)',
 'Universit<U+00CC><U+00CA> degli Studi di Napoli Federico II',
 'AMC Cinemas (AMC Theatres of UK LTD)',
 'Sonangol P&P',
 'William Grant & Sons',
 'V.Group',
 'The TJX Companies, Inc.',
 'BKD CPAs & Advisors',
 'U.S. Coast Guard',
 "Seattle Children's",
 'T-Mobile',
 'Expedia, Inc.',
 'Penn Medicine, University of Pennsylvania Health System',
 "Children's Hospital of Philadelphia",
 'AT&T',
 'University of Illinois at Urbana-Champaign',
 'The Coca-Cola Company',
 'Turner (Turner Broadcasting System, Inc)',
 'Georgia-Pacific LLC',
 'JPMorgan Chase & Co.',
 'Abercrombie & Fitch',
 'The Ritz-Carlton Hotel Company, L.L.C.',
 'InterContinental Hotels Group (IHG<U+00E5><U+00A8>)',
 'Starwood Hotels & Resorts Worldwide, Inc.',
 'Meli<U+00CC><U+00C1> Hotels International',
 'Shangri-La Hotels and Resorts',
 "Boston Children's Hospital",
 "Brigham and Women's Hospital",
 'Dana-Farber Cancer Institute',
 'Providence Health & Services',
 'Giant Eagle, Inc.',
 'S&T Bank',
 "DICK'S Sporting Goods",
 "Children's Hospital of Pittsburgh",
 'The Church of Jesus Christ of Latter-day Saints',
 'Overstock.com',
 'BU Finance & Investment Club Student Managed Investment Fund',
 'New York-Presbyterian Hospital',
 'Colorado State University-Global Campus',
 "Texas Children's Hospital",
 'The University of Texas Health Science Center at Houston (UTHealth)',
 'Washington University School of Medicine in St. Louis',
 'Hanger, Inc.',
 "Mount Sinai St. Luke's",
 'Simon Business School, University of Rochester',
 'M&T Bank',
 'U.S. Department of Homeland Security',
 'Hargrove Engineers + Constructors',
 'The MetroHealth System (Cleveland, OH)',
 'Bristol-Myers Squibb',
 'Telef<U+00CC>_nica Venezuela']

In [58]:
for i in score_df['Company']:
    print(getWords(i))

['ABN', 'AMRO']
['Abtran']
['Accenture']
['Adobe']
['Age', 'UK']
['Airbus', 'Group']
['Aktiesport']
['AkzoNobel']
['Alcoa']
['ALDI']
['ALH', 'Group']
['Amec', 'Foster', 'Wheeler']
['American', 'Express']
['Anadarko', 'Petroleum', 'Corporation']
['Anglicare']
['Anytime', 'Fitness']
['ANZ', 'Banking', 'Group']
['Apple']
['Argos']
['Arvato', 'SCM', 'Ireland', 'Limited']
['ASML']
['Australian', 'Army']
['Australian', 'Defence', 'Force']
['Australian', 'Electoral', 'Commission']
['Australian', 'Taxation', 'Office']
['BAE', 'Systems']
['Bank', 'of', 'Ireland']
['Barclays']
['Barnardo', 's']
['BBC']
['Bechtel']
['Behavioral', 'Health', 'Group']
['BGC', 'Contracting']
['Birmingham', 'City', 'Council']
['Blue', 'Care']
['Blue', 'Inc']
['Boots']
['Boston', 'Scientific']
['Bourne', 'Leisure']
['BP']
['Bras', 'N', 'Things']
['British', 'Airways']
['British', 'Army']
['British', 'Heart', 'Foundation']
['British', 'Red', 'Cross']
['British', 'Telecom']
['Brumby', 's', 'Bakery']
['Build', 'A', 'Bear', 'Workshop']
['Cancer', 'Research', 'UK']
['Centra', 'Ireland']
['CEVA', 'Logistics']
['Chick', 'fil', 'A']
['Citi']
['Citizens', 'Advice']
['Clarks']
['College', 'Pro']
['Commonwealth', 'Bank']
['Costco', 'Wholesale']
['David', 'Jones']
['Dealz']
['Debenhams']
['Dell']
['Deloitte']
['Delta']
['Department', 'for', 'Work', 'and', 'Pensions', 'DWP']
['Deseret', 'Industries']
['Deutsche', 'Bank']
['Devon', 'Energy']
['Downer', 'EDI']
['Dunnes', 'Stores']
['EB', 'Games']
['Eishtec']
['Endeavour', 'Foundation']
['EY']
['Facebook']
['Fidelity', 'Investments']
['Foot', 'Locker']
['Ford', 'Motor', 'Company']
['Fortescue', 'Metals', 'Group']
['FrieslandCampina']
['GAME']
['GAP', 'Inc']
['GE', 'Capital']
['Gemeente', 'Amsterdam']
['Gemeente', 'Rotterdam']
['General', 'Motors']
['GlaxoSmithKline']
['Golding', 'Contractors']
['Google']
['Harris', 'Scarfe']
['Harrods', 'Ltd']
['HEB']
['HM', 'Forces']
['HMRC']
['HMV']
['Honey', 'Baked', 'Ham']
['HP']
['Humanitas']
['IBM']
['In', 'N', 'Out', 'Burger']
['ING']
['Intel']
['Intuit']
['JB', 'Hi', 'Fi']
['JetBlue', 'Airways', 'Corporation']
['John', 'Lewis']
['Johnson', 'Johnson']
['JPMorgan', 'Chase']
['Kaiser', 'Permanente']
['KLM']
['Koninklijke', 'Landmacht']
['KPMG']
['KPN']
['Kumon']
['Laing', 'O', 'Rourke']
['Lancashire', 'County', 'Council']
['Leeds', 'City', 'Council']
['Lidl']
['Life', 'Without', 'Barriers']
['Linfox']
['Lloyds', 'Banking', 'Group']
['Lush', 'Cosmetics']
['Marks', 'and', 'Spencer']
['Marriott', 'Vacations', 'Worldwide']
['Maurices']
['McConnell', 'Dowell']
['McDonald', 's']
['Mercedes', 'Benz']
['Metropolitan', 'Police']
['Microsoft']
['Ministerie', 'van', 'Defensie']
['Ministerie', 'van', 'Veiligheid', 'en', 'Justitie']
['Ministry', 'of', 'Defence']
['Ministry', 'of', 'Justice']
['Mission', 'Australia']
['Monadelphous']
['Monash', 'University']
['Myer']
['Nando', 's']
['National', 'Trust']
['Nationale', 'Nederlanden']
['NatWest']
['Nestle']
['Network', 'Rail']
['Next', 'PLC']
['NHS']
['NIKE']
['Optus']
['Origin', 'Energy']
['Oxfam']
['Parnassia', 'Groep']
['PayPal']
['PDSA']
['Penneys']
['Pets', 'at', 'Home']
['Pfizer', 'Inc']
['Philip', 'Morris', 'International']
['Pizza', 'Capers']
['Pret', 'A', 'Manger']
['Prometric']
['Publix']
['PwC']
['Qantas']
['QuikTrip']
['Rabobank']
['Randstad']
['Ricoh']
['Rio', 'Tinto']
['Rolls', 'Royce']
['Royal', 'Air', 'Force']
['Royal', 'Mail']
['Royal', 'Navy']
['RSPCA']
['Salesforce']
['Santos']
['SAP']
['Schuh']
['Selfridges']
['Shell']
['Siemens', 'AG']
['Southwest', 'Airlines']
['Spar']
['St', 'George', 'Bank']
['St', 'John', 'Ambulance']
['Starbucks']
['Sue', 'Ryder']
['SuperGroup']
['Supervalu', 'Ireland']
['T', 'Mobile']
['Telstra']
['Tesco']
['The', 'Body', 'Shop']
['The', 'Cotton', 'On', 'Group']
['The', 'Good', 'Guys']
['The', 'Ritz', 'Carlton']
['The', 'Salvation', 'Army']
['The', 'TJX', 'Companies', 'Inc']
['The', 'Walt', 'Disney', 'Company']
['Thiess']
['Thomas', 'Cook']
['Thorntons']
['TNT']
['Toyota']
['Trade', 'Secret']
['Transport', 'for', 'London']
['Ultimate', 'Software']
['Unilever']
['VluchtelingenWerk', 'Nederland']
['Vodafone']
['Vodafoneziggo']
['Volvo']
['Waitrose']
['Walt', 'Disney', 'Parks', 'and', 'Resorts']
['Wegmans']
['Wilko']
['YMCA']
['Zorgwerk']

In [ ]:
counter = 0
boolean = []
for i in range(counts.shape[0]):
    bool2 = False
    for j in range(future_bs.shape[0]):
        wordlist = counts['Company'][i].split(' ')
        for k in wordlist:
            if k.lower() in future_bs['Company'][j].lower():
                counter += 1
                bool2 = True
                boolean.append(True)
                break
            else:
                bool2 = False
    if bool2 == False:
        boolean.append(False)
    else:
        None
counter

In [ ]:
counts['Contained'] = boolean
counts

In [ ]:
# Number of entries
print("Number of rows = {}".format(future_bs.shape[0]))

**'employer'**

In [ ]:
test = sorted(future_bs['employer'].unique().tolist(), key=str.lower)
len(test)

In [ ]:
test2 = test.copy()
counter = 0
abnormal_names = []
for i in range(len(test2)-1,-1,-1):
    if "<U+" in test2[i]:
        counter +=1
        abnormal_names.append(test2[i])
        del test2[i]
print(counter)

In [ ]:
pd_abnormal = pd.DataFrame(abnormal_names, columns = ['Unformatted Employer Name'])
pd_abnormal.to_csv("Corrupted company names (Indeed, 'employer').csv", index = False)
pd_abnormal.head()

**'company'**

In [ ]:
test = sorted(future_bs['company'].unique().tolist(), key=str.lower)
len(test)

In [ ]:
test2 = test.copy()
counter = 0
abnormal_names = []
for i in range(len(test2)-1,-1,-1):
    if "<U+" in test2[i]:
        counter +=1
        abnormal_names.append(test2[i])
        del test2[i]
print(counter)

In [ ]:
pd_abnormal = pd.DataFrame(abnormal_names, columns = ['Unformatted Company Name'])
pd_abnormal.to_csv("Corrupted company names (Indeed, 'company').csv", index = False)
pd_abnormal.head()

## 2. Sentiment Analysis by Sentence (Original code)

In [ ]:
ABN_AMRO = reviews_1.loc[reviews_1.Company == 'ABN AMRO'].reset_index().copy()
ABN_AMRO.drop('index',axis=1,inplace=True)
ABN_AMRO.dropna(inplace = True)
ABN_AMRO['Language'] = [detect(x) for x in ABN_AMRO.Review]
ABN_AMRO.head()

### a) English reviews

In [ ]:
ABN_AMRO_en = ABN_AMRO[ABN_AMRO.Language == 'en'].copy()
full_review = ' '.join(ABN_AMRO_en.Review.tolist())
analyzer = SentimentIntensityAnalyzer()
ABN_AMRO_en['Compound'] = [list(analyzer.polarity_scores(x).values())[3] for x in ABN_AMRO_en.Review]

fig, ax = plt.subplots(figsize = (4,6))
sns.set_style('whitegrid')
ax.set_title('ABN AMRO', size = 15)
sns.boxplot(data = ABN_AMRO_en['Compound'], ax = ax, palette = "Set3", linewidth = 1)
sns.despine(left = True, bottom = True, ax = ax)
ax.set_xticklabels([])
ax.set_xlabel('Polarity')
ax.set_ylabel('Compound Score')
plt.tight_layout()

In [ ]:
# Average
average = ABN_AMRO_en.loc[:,'Negative':].copy().describe().loc['mean',:][-1]
average

In [ ]:
# Function
def polarity_average(company, random_state):
    # Dataframe (all languages)
    df = reviews_1.loc[reviews_1.Company == company].reset_index().copy()
    
    #Sample the dataframe (cap at 1000)
    if df.shape[0] >= 1000:
        df = df.sample(n = 1000, replace=True, random_state = random_state)
    else:
        df = df
    
    df.drop('index',axis=1,inplace=True)
    df.dropna(inplace = True)
    df = df.select_dtypes(include=['object'])
    lang = []
    for x in df.Review:
        try:
            lang.append(detect(x))
        except:
            lang.append('No language detected')
    df['Language'] = lang
    
    # Dataframe (English only)
    df_en = df[df.Language == 'en'].copy()
    
    # Vadar sentiment analysis
    analyzer = SentimentIntensityAnalyzer()
    df_en['Negative'] = [list(analyzer.polarity_scores(x).values())[0] for x in df_en.Review]
    df_en['Neutral'] = [list(analyzer.polarity_scores(x).values())[1] for x in df_en.Review]
    df_en['Positive'] = [list(analyzer.polarity_scores(x).values())[2] for x in df_en.Review]
    df_en['Compound'] = [list(analyzer.polarity_scores(x).values())[3] for x in df_en.Review]
    
    return df_en.loc[:,'Negative':].copy().describe().loc['mean',:][-1]

In [ ]:
# Compute average polarity score for all companies
company_names = sorted(reviews_1.Company.unique().tolist(), key=str.lower)
scores = []
for i in sorted(reviews_1.Company.unique().tolist(), key=str.lower):
    average = polarity_average(i)
    scores.append(average)
    print(i)
    print(average)
print("Polarity scores:\n")
print(scores)

In [ ]:
temp = []
temp.append(scores)

j = 1
while j <= 9:
    scores2 = []
    for i in sorted(reviews_1.Company.unique().tolist(), key=str.lower):
        average = polarity_average(i, j*100+1)
        scores2.append(average)
    temp.append(scores2)
    print('Round {} finished.'.format(j))
    j += 1

In [ ]:
average_10 = [sum(e)/len(e) for e in zip(*temp)]

In [ ]:
average_df = pd.DataFrame([companies['Company'].tolist(),average_10], index = ['Company','Score']).transpose()
average_df.to_csv('Average Vader scores (alphabetical, no index).csv', index = False)

In [ ]:
new_df = pd.DataFrame([companies['Company'].tolist(),average_10], index = ['Company','Score']).transpose()
number_of_reviews = []
for i in sorted(reviews_1.Company.unique().tolist(), key=str.lower):
    temp2 = reviews_1.loc[reviews_1.Company == i].reset_index().copy()
    number_of_reviews.append(temp2.shape[0])
new_df['Original number of reviews'] = number_of_reviews
new_df.to_csv('Average Vader scores (alphabetical, no index).csv', index = False)
new_df.to_csv('Average Vader scores (alphabetical).csv')

In [ ]:
new_df.sort_values(by = 'Score', ascending = False).to_csv('Average Vader scores (alphabetical, descending, no index).csv', index = False)
new_df.sort_values(by = 'Score', ascending = False).to_csv('Average Vader scores (alphabetical, descending).csv')

In [ ]:
import matplotlib
from matplotlib import cm
test_cm = [cm.coolwarm(x) for x in average_10]

def format_xticklabels(subplot_axes):
    t = [x.get_text() for x in list(subplot_axes.get_xticklabels())]
    t = ['\n'.join(x.split(' ')) for x in t]
    subplot_axes.set_xticklabels(t)

fig, ax = plt.subplots(6,1,figsize = (50,30))
plt.suptitle('Scores of Company Reviews', size = 20, y =1.01)
sns.set_style('white')
sns.barplot(x = new_df['Company'][:37],
           y = new_df['Score'][:37], ax = ax[0], palette = test_cm[:37])
sns.barplot(x = new_df['Company'][37:74],
           y = new_df['Score'][37:74], ax = ax[1], palette = test_cm[37:74])
sns.barplot(x = new_df['Company'][74:111],
           y = new_df['Score'][74:111], ax = ax[2], palette = test_cm[74:111])
sns.barplot(x = new_df['Company'][111:148],
           y = new_df['Score'][111:148], ax = ax[3], palette = test_cm[111:148])
sns.barplot(x = new_df['Company'][148:185],
           y = new_df['Score'][148:185], ax = ax[4], palette = test_cm[148:185])
sns.barplot(x = new_df['Company'][185:],
           y = new_df['Score'][185:], ax = ax[5], palette = test_cm[185:])
for i in (ax[0],ax[1],ax[2],ax[3], ax[4], ax[5]):
    i.set_ylim(-1,1)
    i.set_xlabel('Company', size = 15)
    i.set_ylabel('Score', size = 15)
    format_xticklabels(i)
    for p in i.patches:
        i.annotate(np.round(p.get_height(),decimals=3), (p.get_x()+p.get_width()/2., p.get_height()),
                    ha='center', va='center', xytext=(0, 10), textcoords='offset points')

plt.tight_layout()

In [ ]:
# Function
def polarity(company):
    # Dataframe (all languages)
    df = reviews_1.loc[reviews_1.Company == company].reset_index().copy()
    
    #Sample the dataframe (cap at 1000)
    if df.shape[0] >= 1000:
        df = df.sample(n = 1000, replace=True)
    else:
        df = df
    
    df.drop('index',axis=1,inplace=True)
    df.dropna(inplace = True)
    df = df.select_dtypes(include=['object'])
    lang = []
    for x in df.Review:
        try:
            lang.append(detect(x))
        except:
            lang.append('No language detected')
    df['Language'] = lang
    
    # Dataframe (English only)
    df_en = df[df.Language == 'en'].copy()
    
    # Vadar sentiment analysis
    analyzer = SentimentIntensityAnalyzer()
    df_en['Negative'] = [list(analyzer.polarity_scores(x).values())[0] for x in df_en.Review]
    df_en['Neutral'] = [list(analyzer.polarity_scores(x).values())[1] for x in df_en.Review]
    df_en['Positive'] = [list(analyzer.polarity_scores(x).values())[2] for x in df_en.Review]
    df_en['Compound'] = [list(analyzer.polarity_scores(x).values())[3] for x in df_en.Review]
    
    return df_en.copy()['Compound'].tolist()

In [ ]:
# Compute average polarity score for all companies
company_names = sorted(reviews_1.Company.unique().tolist(), key=str.lower)
boxplot_score = []
for i in sorted(reviews_1.Company.unique().tolist(), key=str.lower):
    polarities = polarity(i, )
    boxplot_score.append(polarities)
    print(i)

In [ ]:
boxplot_data = pd.DataFrame(boxplot_score, index = sorted(reviews_1.Company.unique().tolist(), key=str.lower)).transpose()

fig, ax = plt.subplots(6,1,figsize = (50,50))
plt.suptitle('Distribution of Individual Scores of Company Reviews', size = 20, y =1.01)
sns.set_style('white')

sns.boxplot(data = boxplot_data.iloc[:,:37], ax = ax[0], palette = 'Set3')
sns.boxplot(data = boxplot_data.iloc[:,37:74], ax = ax[1], palette = 'Set3')
sns.boxplot(data = boxplot_data.iloc[:,74:111], ax = ax[2], palette = 'Set3')
sns.boxplot(data = boxplot_data.iloc[:,111:148], ax = ax[3], palette = 'Set3')
sns.boxplot(data = boxplot_data.iloc[:,148:185], ax = ax[4], palette = 'Set3')
sns.boxplot(data = boxplot_data.iloc[:,185:], ax = ax[5], palette = 'Set3')

for i in (ax[0],ax[1],ax[2],ax[3], ax[4], ax[5]):
    i.set_ylim(-1.1,1.1)
    i.set_xlabel('Company', size = 15)
    i.set_ylabel('Score', size = 15)
    format_xticklabels(i)
    for p in i.patches:
        i.annotate(np.round(p.get_height(),decimals=3), (p.get_x()+p.get_width()/2., p.get_height()),
                    ha='center', va='center', xytext=(0, 10), textcoords='offset points')

plt.tight_layout()

In [ ]:
boxplot_data.to_csv('Reviews polarities (capped at 1000 reviews) (No index).csv', index = False)
boxplot_data.to_csv('Reviews polarities (capped at 1000 reviews).csv')